<ion-header>
    <ion-toolbar color="warning">
      <ion-title>
        Kategoritë
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <br>
    <ion-progress-bar *ngIf="loading === true" type="indeterminate"></ion-progress-bar>

    <ion-list>
      <ion-item *ngFor="let item of getKeys(cats)" [routerLink]="'/tabs/kategoria/'+ cats.get(item).slug" detail>    
          <ion-item>
              <ion-avatar slot="start">
                <img src="{{cats.get(item).imageUrl}}">
              </ion-avatar>
          </ion-item>
          <ion-label>
            <h2>{{cats.get(item).name}}</h2>
            <p>{{cats.get(item).post_count}} receta</p>
          </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>