<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>
  <ion-progress-bar *ngIf="searching === true" type="indeterminate"></ion-progress-bar>

  <ion-card>
    <ion-input [(ngModel)]="searchStr"></ion-input>
  </ion-card>
  <ion-button (click)="search()" style="margin-top: 5px;padding-top: 5px;">Search</ion-button>

  <br>
  
  <ion-card *ngFor="let item of getKeys(thumbs)">
      <ion-card-header>
          <ion-card-title>
            {{thumbs.get(item).title}}
          </ion-card-title>
      </ion-card-header>    
      <ion-card-content>
          <div [innerHTML]="thumbs.get(item).content"></div>
      </ion-card-content>
  </ion-card>
  <ion-button *ngIf="loaded === true" (click)="next()">More posts</ion-button>

</ion-content>
